﻿.statusDivPareent {
	float:left;
}
.statusDiv, .statusDivText {
	font-size:medium;
	font-weight:bold;
	float:left;
	margin-right:20px

}
.requiredFieldAsterisk {
	color:red;
}
.buttons {
	text-transform:uppercase;
	background-color:#323232!important;
	font-weight:bolder;
	width:150px;
	color:white!important;
	font-size:14px;
	line-height:15px;
	border:none;
	margin-left:10px;
	margin-right:10px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}